# github's self-generated CMake .gitignore templete.
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# begin of custom path.
.idea/
release/
submodules/
wav_examples/
